# Entorno virtual
venv/
env/
ENV/

# macOS
.DS_Store
*.DS_Store

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.sqlite3
*.db

# Logs
*.log

# Build
build/
dist/
*.spec

# IDE
.idea/
*.sublime-*
